{% extends 'base.html' %}

{% block content %}

{% if motivations %}
   {% for el in motivations %}
      <div class='alert alert-warning mt-4'>
         <h4>{{ el.nickname }}</h4>
         <h6>{{ el.motivation }}</h6>
      </div>
   {% endfor %}
{% else %}
   <p>Записи отсутствуют</p>
{% endif %}
<div class='pagination'>
   <ul class='pagination'>
         {% for p in range %}
            <li class='page-item'><a class='page-link' href='?page={{ p }}'>{{ p }}</a></li>
         {% endfor %}
   </ul>
</div>
{% endblock  %}
